/*div.containter {width:800px;margin-left:auto; margin-right:auto;background-color:#ddf;}*/

h1 {font-size: 22px; line-height: 22px;}
.container {margin:0 auto;width:940px;}
div.block {float:left;width:38px; height:38px;text-align:center;cursor:pointer;}
div.endfill {margin-right:35px;}
div.block div {border:1px solid #ddd;width:100%;height:100%;line-heigh3t:36px}

.highlight {background-color: #ddf;}


div.minutes {width:450px;}
div.clear {clear:both;}

div.half {float:left;width:470px;}