{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<h3>New Alerts</h3>
<table class="table table-striped">
	<tr><th>Discovered</th><th>Name</th><th>Research</th><th>Action</th></tr>
	{% for a in alerts %}
		<tr id="alert_{{a.id}}">
			<td>{{a.created|naturaltime|capfirst}}
			<td><span class="subtext">{{a.beer.brewery}}</span> {{a}}</td>
			<td>
				<a target="_newtab" href="https://twitter.com/{{a.venue.twitter}}">
					<img class="icon" src="{{MEDIA_URL}}twitter.jpeg"/>
				</a>
				<a target="_newtab" href="https://untappd.com/venue/{{a.venue.untappd_id}}">
					<img class="icon" src="{{MEDIA_URL}}untappd.jpeg"/>
				</a>
				<a target="_newtab" href="https://untappd.com/venue/{{a.venue.untappd_id}}">
					<img class="icon" src="{{MEDIA_URL}}facebook.jpeg"/>
				</a>
				<a target="_newtab" href="http://phillytapfinder.com/bar/{{a.venue.tapfinder_slug}}">
					<img class="icon" src="{{MEDIA_URL}}phltapfinder.jpeg"/>
				</a>				
			</td>
			<td>
				<a href="/admin/main/alert/{{a.id}}/">Publish</a>&nbsp;&bull;
				<a href="javascript:ignore({{a.id}})">Ignore</a>
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}